body{
	font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('Photos/cal.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

.left{
  display: inline-block;
  position: absolute;
  left: 75px;
  top: 33px;
}

.left img{
  width: 139px;
  filter: invert();
}

.left div{
	line-height: 25px;
	font-size: 22px;
	text-align: center;
}

.mid{
	display: block;
	width: 60%;
	margin: 66px 234px;
}

.right{
	position: absolute;
	right: 40px;
	top: 83px;
	display: inline-block;
}

.navbar{
	display: inline-block;
}

.navbar li{
	display: inline-block;
	font-size: 25px;
}

.navbar li a{
	color: white;
	text-decoration: none;
	padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active{
	text-decoration: underline;
	color: grey;
}

.btn{
	font-family: 'Baloo Bhai', cursive;
	margin: 20px 9px;
	background-color: black;
	color: white;
	padding: 4px 14px;
	border: 2px solid grey;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}

.btn:hover{
	background-color: rgb(31,30,30);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: #333
}

fieldset {
	width: 400px;
	margin: auto;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	padding: 10px;
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

.container button {
    font-family: 'Baloo Bhai', cursive;
    margin: 11px 196px;
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.container button:hover{
	background-color: rgb(31,30,30);
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

#bmi_label {
    width: 403px;
}

#bmi {
    
	width: 66px;
}

#intro {
    
	width: 44rem;
	margin: auto;
	padding: 10px;
    border: 1px solid #cccccc;
	box-shadow: 1px 1px #cccccc;
    border-radius: 10px;
}
.container h1{
	text-align: center;
}


fieldset {
    width: 38rem;
    margin: auto;
    border: 2px solid #999999;
    box-shadow: 1px 1px #cccccc;
    padding: 60px;
    border-radius: 10px;
}

.BMI{
font-size: 25px;
}
label {
    float: left;
    width: 326px;
    display: block;
    clear: left;
    text-align: right;
    padding-right: 37px;
    margin-top: -1px;
}